#container{
    border: 10px black solid;
    display: flex;
    width: fit-content;
    height: fit-content;
    align-self: center;
    justify-content: center;

}

.board{
    display: flex;
    justify-content: center;
}
.page_title{
    display: flex;
    justify-content: center;
}

.createdBoxes{

}